/* Шрифты */

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Regular'), local('Geometria-Regular'),
    url('../fonts/Geometria-Regular.woff') format('woff'),
    url('../fonts/Geometria-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Medium'), local('Geometria-Medium'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: local('Geometria Bold'), local('Geometria-Bold'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Общие стили */

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FCF8FE;
  font-family: 'Geometria', Arial, sans-serif;
  font-size: 10px;
  line-height: 1.25;
  font-weight: 400;
  color: #8E80A9;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;
}

.v-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: 1px solid gray;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.btn {
  background-color: transparent;
  border: none;
}

/* ХЕДЕР */

.header {
  width: 100%;
  background-color: #ffffff;
}

.header .container {
  padding-top: 18px;
  padding-bottom: 70px;

  background-image: url('../img/yoga_main_bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center top;
}

.contacts {
  display: none;
}

/* Меню */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 70px;
}

.menu__text {
  display: none;
}

.menu__phone {
  font-size: 10px;
  font-weight: 500;
  color: #8B7EAC;
}

/* Промо */

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo .screen-number {
  display: none;
}

.promo__slogan {
  margin-bottom: 20px;

  font-family: 'Caveat';
  font-size: 18px;
}

.promo__header {
  margin-bottom: 25px;
}

.page-header {
  font-size: 67px;
  font-weight: 500;
  color: #ffffff;

  letter-spacing: 1.742px;

  text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
}

.signup {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 174px;
}

.signup__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 26px;

  background-color: #E65C7B;
}

.signup__text {
  width: 137px;

  font-size: 10px;
  font-weight: 500;
  color: #E65C7B;
}

/* НАПРАВЛЕНИЯ */

/* АБОНЕМЕНТЫ */


/* НАША КОМАНДА */

/* ОТЗЫВЫ */

/* ЗАПИСЬ */

/* ФУТЕР */

/* Контакты */

.footer .contacts {
  background-color: #8373A1;
}

/* Копирайт */
